extends layout

block content
    main.container(role='main')
        .row
            .col-md-10.offset-md-1
                h3.pb-3.mb-4.font-italic.border-bottom
                    |О программе:
                p.text-left
                        |Система мониторинга работы сталеразливочной тележки HC-18 электрометаллургического комплекса DANIELI

                        p.text-left
                                |Возможности:
                        ul
                            li Мониторинг состояния оборудования;
                            li Контроль процесса розлива ситали;



    //extends footer